h1{
    font-size: 400%;
    text-align: center;
}

body{
    background: url(img/background.png);
}

#player{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 150%;
    float: left;
}

#computer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 150%;
    float: right;
}

.indexButton{
    border-radius: 10px;
    font-size: 150%;
    margin-left: 46%;
    padding: 10px;
    padding-right: 35px;
    padding-left: 35px;
}